<footer id="contacto">
    <div class="contenedor footer-content">
        <div class="contact-us">
            <img src="assets/img/logoEpn.png" alt="logo de la Epn" width="80px" height="80px">
            <h2 class="pie">Pie de Pagina</h2>
            <p>Coloque pie de pagina</p>
        </div>

        <div class="socialmedia">
            <a href="https://www.facebook.com/CICAMEPNEcuador" class="social-media-icon" target="_blank">
                <i class='bx bxl-facebook'></i>
            </a>
            <a href="https://twitter.com/CICAM_EPN" class="social-media-icon" target="_blank">
                <i class='bx bxl-twitter'></i>
            </a>
        </div>

    </div>
    <div class="line"></div>
</footer>