<!-- Cabecera -->
<header class="header" id="inicio">
    <div class="head">
        <img src="assets/img/logoEpn.png" alt="" height="100px" width="100px" />
        <h1 class="titulo"> BIENVENIDO </h1>
    </div>
</header>
<main>
    <!-- Heramientas-->
    <section class="contenedor" id="herramientas">
        <h2 class="subtitulo">Herramientas</h2>
        <section class="tools">
            <!-- AERMET -->
            <div class="cont-tools">
                <img src="assets/img/aermet.png" alt="">
                <h3 class="n-tools">AERMET</h3>
                <p
                    style="text-align: justify; border-style: solid; padding: 5%; border-color: #8d5834; border-width: thin;">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <br />
                <a href="https://www.epa.gov/scram/meteorological-processors-and-accessory-programs#aermet" class="boton-a" target="_blank"> Ver más
                    <span class="index-module--icon--AyAXE"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.352 11.194l3.8-3.291H0V6.09h10.151l-3.805-3.29 1.417-1.245L14 7.003l-6.231 5.441-1.417-1.25z"
                                fill="currentColor"></path>
                        </svg></span></a>
                <a href="https://gaftp.epa.gov/Air/aqmg/SCRAM/models/met/aermet/aermet_userguide.pdf" class="boton-a" target="_blank"> Manual de Usuario
                    <span class="index-module--icon--AyAXE"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.352 11.194l3.8-3.291H0V6.09h10.151l-3.805-3.29 1.417-1.245L14 7.003l-6.231 5.441-1.417-1.25z"
                                fill="currentColor"></path>
                        </svg></span></a>
            </div>
            <!-- AERMAP -->
            <div class="cont-tools">
                <img src="assets/img/aermap.png" alt="">
                <h3 class="n-tools">AERMAP</h3>
                <p
                    style="text-align: justify; border-style: solid; padding: 5%; border-color: #8d5834; border-width: thin;">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <br />
                <a href="https://www.epa.gov/scram/air-quality-dispersion-modeling-related-model-support-programs#aermap" class="boton-a" target="_blank"> Ver más
                    <span class="index-module--icon--AyAXE"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.352 11.194l3.8-3.291H0V6.09h10.151l-3.805-3.29 1.417-1.245L14 7.003l-6.231 5.441-1.417-1.25z"
                                fill="currentColor"></path>
                        </svg></span></a>
                <a href="https://gaftp.epa.gov/Air/aqmg/SCRAM/models/related/aermap/aermap_userguide_v18081.pdf" class="boton-a" target="_blank"> Manual de Usuario
                    <span class="index-module--icon--AyAXE"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.352 11.194l3.8-3.291H0V6.09h10.151l-3.805-3.29 1.417-1.245L14 7.003l-6.231 5.441-1.417-1.25z"
                                fill="currentColor"></path>
                        </svg></span></a>
            </div>
            <!-- AERMOD -->
            <div class="cont-tools">
                <img src="assets/img/aermod.png" alt="">
                <h3 class="n-tools">AERMOD</h3>
                <p
                    style="text-align: justify; border-style: solid; padding: 5%; border-color: #8d5834; border-width: thin;">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <br />
                <a href="https://www.epa.gov/scram/air-quality-dispersion-modeling-preferred-and-recommended-models#aermod" class="boton-a" target="_blank">  Ver más
                    <span class="index-module--icon--AyAXE"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.352 11.194l3.8-3.291H0V6.09h10.151l-3.805-3.29 1.417-1.245L14 7.003l-6.231 5.441-1.417-1.25z"
                                fill="currentColor"></path>
                        </svg></span></a>
                <a href="https://gaftp.epa.gov/Air/aqmg/SCRAM/models/preferred/aermod/aermod_userguide.pdf" class="boton-a" target="_blank"> Manual de Usuario
                    <span class="index-module--icon--AyAXE"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.352 11.194l3.8-3.291H0V6.09h10.151l-3.805-3.29 1.417-1.245L14 7.003l-6.231 5.441-1.417-1.25z"
                                fill="currentColor"></path>
                        </svg></span></a>
            </div>
        </section>
    </section>
</main>