<header class="header-login" id="inicio">
    <div class="head">
        <h1 class="titulo"> Login </h1>
    </div>
</header>
<main>
    <section class="contendor">
        <div class="bodylogin">
            <form class="formulario" [formGroup]="login" (ngSubmit)="logeo">

                <div class="contenedorlogin">
                    <div class="userIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                    </div>

                    <!-- Inicio de formulario -->
                    <div class="input-contenedor">
                        <i class="fas fa-user icon"></i>
                        <input class="inputlog" type="text" formControlName="nick" placeholder="Nombre de Usuario">
                    </div>
                    <div class="smsError" *ngIf="login.get('nick')?.hasError('required') && login.get('nick')?.touched">
                        <p>El nombre de usuario es <strong>obligatorio</strong></p>
                    </div>

                    <div class="input-contenedor">
                        <i class="fas fa-key icon"></i>
                        <input class="inputlog" type="password" formControlName="pwd" placeholder="Contraseña">
                    </div>
                    <div class="smsError" *ngIf="login.get('pwd')?.hasError('required') && login.get('pwd')?.touched">
                        <p>La contraseña es <strong>obligatoria</strong></p>
                    </div>
                    <input type="submit" [disabled]="login.invalid" value="Login" class="button">
                </div>
            </form>
        </div>
    </section>
</main>